@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#About {
    color: #fff;
    background-color: #060606;
    margin-top: -20vh;

}
#About h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
    font-family: "Russo One", sans-serif;
    font-size: 59px;
}

#About .tableP p {
    position: relative;
    text-align: left;
    margin-left: 10%;
    width: 50vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;

}
#About table {
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

#About .tableIMG{
    width: fit-content;
}