@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#Navigation {
    align-items: center;
    color: #FFF;
}


#Navigation #Socials {
    align-items: flex-end;
    text-transform: lowercase;
}


.Navigation .socials {
    width: fit-content;
}

#Navigation #links {
    padding-left: 5vw;
}

#Navigation #link {
    margin-left: 2vw;
}

#Navigation a {
    color: #fff
}

#Navigation a:hover {
    color: #f1c40f;
}

#Navigation #socials a:hover {
    filter: drop-shadow(0px 0px 10px #f1c40f);
}

.NavbarLogo {
    filter: drop-shadow(0px 0px 10px #f1c40f);
}
