@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.Steps{
    margin-top: 10%;
}

.Steps h1 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFFFFF;
    font-family: 'Russo One', sans-serif;
    font-size: 59px;
    margin-bottom: 10vh

}

.Steps .wrapper {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(3, 65vh);
    grid-template-rows: repeat(3, 25vw);
    width: 75vw;
    color: #FFFFFF;
    max-width: 90vw;
}
.wrapper h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 96px;
    max-width: 25vw;
    align-items: center;
    margin-bottom: -5%;
    text-align: left;
    margin-left: -2%;

}

.wrapper p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    height: max-content;
    max-width: 25vw;
}

.wrapper hr {
    height: 2px;
    width: 50%;
    color: #E2B228
}